---
import CardMenu from "@/components/CardMenu.astro"
import { getLangFromUrl, useTranslations } from "@/i18n/utils"
import Layout from "@/layouts/Layout.astro"

const lang = getLangFromUrl(Astro.url)

const t = useTranslations(lang)
---

<Layout title={t("index.title")} description={t("index.description")}>
	<div class="relative flex h-full w-auto flex-col items-center p-5">
		<h2 class="m-10 w-1/2 text-center text-7xl font-semibold">{t("index.subtitle")}</h2>
		<CardMenu lang={lang} />
	</div>
</Layout>
