---
import BytesToString from "@/components/bytesToString"
import { getLangFromUrl } from "@/i18n/utils";
import Layout from "@/layouts/Layout.astro"

const lang = getLangFromUrl(Astro.url);
---

<Layout title="Convert now!">
	<main class="absolute w-full">
		<BytesToString lang={lang} client:load  />
	</main>
</Layout>
