---
import { Card, CardContent, CardDescription, CardHeader, CardTitle } from "@/components/ui/card"
import { ui } from "@/i18n/ui"
import { useTranslations } from "@/i18n/utils"
import { getRelativeLocaleUrl } from "astro:i18n"

interface Props {
	lang: keyof typeof ui
}

const { lang } = Astro.props

const t = useTranslations(lang)
---

<div class="grid grid-cols-1 gap-8 p-5 md:grid-cols-3">
	<Card>
		<a href={getRelativeLocaleUrl(lang, "bytesToString")}>
			<CardHeader>
				<CardTitle>{t("index.bytesToString.title")}</CardTitle>
				<CardDescription>{t("index.bytesToString.description")}</CardDescription>
			</CardHeader>
			<CardContent>
				<p>{t("index.bytesToString.description")}</p>
			</CardContent>
		</a>
	</Card>
</div>
