---
import { Card, CardContent, CardDescription, CardHeader, CardTitle } from "@/components/ui/card"
import { ui } from "@/i18n/ui"
import { useTranslations } from "@/i18n/utils"
import { getRelativeLocaleUrl } from "astro:i18n"
import { pages } from "@/utils/pages"

interface Props {
	lang: keyof typeof ui
}

const { lang } = Astro.props

const t = useTranslations(lang)
---

<section class="grid w-full grid-cols-1 gap-8 p-5 md:grid-cols-3">
	{
		Object.values(pages).map((page) => (
			<Card>
				<a href={getRelativeLocaleUrl(lang, page.url)}>
					<CardHeader>
						<CardTitle>
							<page.icon className="m-1 mb-2 scale-150" name={`${page.name} icon`} />
						</CardTitle>
						<CardDescription className="text-2xl font-cardtitle text-gray-800 dark:text-white">
							{t(`index.${page.i18n}.title`)}
						</CardDescription>
					</CardHeader>
					<CardContent>
						<p class="dark:text-gray-300">{t(`index.${page.i18n}.description`)}</p>
					</CardContent>
				</a>
			</Card>
		))
	}
</section>
