---
import { getLangFromUrl, useTranslations } from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);

const t = useTranslations(lang)

---

<header class="flex content-center">
    <h1 class="text-center m-10 text-9xl dark:text-gray-400">{t("index.title")}</h1>
</header>
