---
import { getLangFromUrl, useTranslations } from "@/i18n/utils"
import { getRelativeLocaleUrl } from "astro:i18n"

const lang = getLangFromUrl(Astro.url)

const t = useTranslations(lang)
---

<header class="flex content-center">
	<a href={getRelativeLocaleUrl(lang)}>
		<h1 class="m-10 text-center text-9xl dark:text-gray-400">{t("index.title")}</h1>
	</a>
</header>
