---
import { languages } from "@/i18n/ui"
import { getLangFromUrl, useTranslatedPath } from "@/i18n/utils"

const lang = getLangFromUrl(Astro.url)
const url = Astro.url.toString()

const currentLocaleData = languages[lang]
const otherLocales = Object.values(languages).filter((locale) => locale !== lang)
const translatePath = useTranslatedPath(lang)
---

<div class="relative inline-block text-left">
	<div
		class="group rounded-md bg-black/30 text-xs font-semibold text-white transition-all hover:bg-black/70"
	>
		<button
			type="button"
			class="inline-flex w-full items-center justify-start gap-x-2 px-3 py-2"
			aria-expanded="true"
			aria-haspopup="true"
		>
			{currentLocaleData}
		</button>
		<ul class="absolute hidden w-full pt-0.5 group-hover:block">
			{
				otherLocales.map((locale) => (
					<li class="py-[2px]">
						<a
							class="whitespace-no-wrap inline-flex w-full items-center justify-start gap-x-2 rounded-md bg-black/30 px-3 py-2 hover:bg-black/70"
							href={translatePath(url, locale)}
						>
							{locale}
						</a>
					</li>
				))
			}
		</ul>
	</div>
</div>
