---
import BytesToString from "@/components/bytesToString"
import Layout from "../../layouts/Layout.astro"
---

<Layout title="Convierte ahora!">
	<main class="absolute w-full">
		<BytesToString client:load />
	</main>
</Layout>
