---
import Header from "@/components/Header.astro"
import Footer from "@/components/Footer.astro"
import "@/styles/globals.css"
import { getLangFromUrl } from "@/i18n/utils"
import "@fontsource-variable/quicksand"
import SpeedInsights from "@vercel/speed-insights/astro"

interface Props {
	title: string
	description: string
}

const { title, description } = Astro.props

const lang = getLangFromUrl(Astro.url)
---

<!doctype html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="keywords" content="convert, transform" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<title>{title}</title>
	</head>

	<body>
		<div
			class="absolute top-0 z-[-2] h-screen w-screen bg-white bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))] transition-all dark:bg-neutral-950"
		>
		</div>
		<main class="h-full min-h-dvh w-full">
			<Header />
			<div class="relative h-full min-h-dvh pt-14">
				<slot />
				<Footer lang={lang} />
			</div>
		</main>
		<SpeedInsights />
	</body>
</html>

<style is:global>
	body {
		display: flex;
		min-height: 100dvh;
		height: auto;
	}

	html {
		font-family: "Quicksand Variable", system-ui, sans-serif;
		min-height: 100dvh;
		height: auto;
	}
</style>

<script is:inline>
	const getThemePreference = () => {
		if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
			return localStorage.getItem("theme")
		}
		return window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light"
	}
	const isDark = getThemePreference() === "dark"
	document.documentElement.classList[isDark ? "add" : "remove"]("dark")

	if (typeof localStorage !== "undefined") {
		const observer = new MutationObserver(() => {
			const isDark = document.documentElement.classList.contains("dark")
			localStorage.setItem("theme", isDark ? "dark" : "light")
		})
		observer.observe(document.documentElement, { attributes: true, attributeFilter: ["class"] })
	}
</script>
